.homepage {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    gap: 3rem;
    min-height: 100vh;
}

.home-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-sections h2 {
    font-size: 1.5rem;
}

.calendar {
    width: 100%;
}

.calendar .rdrMonth {
    width: 100%;
}

.calendar .rdrDay {
    height: 3rem;
    font-size: 1rem;
}

.turntime-card {
    padding: 1rem 1.5rem;
    background: #F3F3F3;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background .3s ease-out;
    position: relative;
}

.turntime-card:hover {
    background: #dedcdc;
}

.turntime-card-selected {
    background: #3ea5ce;
    color: #FFFFFF;
}

.turntime-card-selected:hover {
    background: #3082a2;
}

.turntime-card-cancel {
    color: #991B1B;
}

.available-turns-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    z-index: 6;
}

#service-select{
    display: flex;
    justify-content: space-between;
}

.select-service-name {
    font-weight: 500;
}

.select-service-price {
    font-weight: 700;
}

.container-popup, .container-popup-annularturn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 5;
}

.popup, .popup-annularturn {
    background: #F3F3F3;
    padding: 2vh;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: popup .3s ease forwards;
    max-width: 90%;
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.popup button {
    background: #3ea5ce;
    color: #FFFFFF;
    border: 0;
    padding: 1vh 5vh;
    border-radius: .2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
}

.popup h2 {
    font-size: 2rem;
}

.popup p {
    font-size: 1rem;
    text-align: center;
}

.popup-annularturn-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 1rem;
}

.popup-annularturn-buttons button {
    padding: .5rem 1rem;
    font-size: .8rem;
    cursor: pointer;
    border: 0;
    font-weight: 700;
}

.popup-annularturn-primarybtn {
    background: #3ea5ce;
    color: #FFFFFF;
    border-radius: .2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.popup-annularturn-secondarybtn {
    color: #3ea5ce;
}

.req-turn-buttons {
    position: sticky;
    bottom: 3rem;
    display: flex;
    gap: 1rem;
    z-index: 3;
}

@media (max-width: 600px)  {
    .req-turn-buttons {
        flex-direction: column;
    }
}

.req-turn-btn {
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: .2rem;
    background: #3483FA;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.req-turn-btn:hover {
    background: #2277f7;
}

.reqmanual-turn-btn {
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: .2rem;
    background: #F3F3F3;
    color: #3483FA;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.reqmanual-turn-btn:hover {
    background: rgb(220, 220, 220);
}

.backdrop-modal-turn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 4;
}

.modal-turn {
    padding: 2vh;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 60vh;
    max-width: 90%;
    gap: 1.5rem;
}

.modal-turn-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-turn-head h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.modal-turn-close-btn{
    cursor: pointer;
}

.modal-turn-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-turn-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #dedcdc;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 .50px 5px 0 #d6d6d8;
}

.modal-turn-info li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.modal-turn-info li span {
    font-weight: 700;
}

.modal-turn-primary-btn {
    padding: 1rem 0;
    border: 0;
    border-radius: .2rem;
    background: #3483FA;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s ease-out;
}

.modal-turn-req-btn:hover {
    background: #2277f7;
}

.confirmation-turn-text {
    font-size: 1.5rem;
    text-align: center;
}

.confirmation-turn-buttons {
    display: flex;
    justify-content: space-around;
}

.confirmation-turn-buttons a {
    font-size: 1rem;
    border-radius: .2rem;
    padding: .5rem 1rem;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.confirmation-turn-btn-primary {
    background: #3ea5ce;
    color: #FFFFFF;
}

.confirmation-turn-btn-secondary {
    background: transparent;
    color: #3ea5ce;
}

.modal-turn-formclient {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
